button {
    border: none;
    background-color: $paleblue;
    border-radius: 5px;
    padding: .5em;
    transition: all 300ms ease-out;
    &:hover {
        background-color::darken($paleblue, 20%);
    }
}
