.deleteBtn {
    border: none;
    background: none;
    g {
        transition: all 300ms ease-out;
        color: rgba(255, 255, 255, 0.7);
    }
    &:hover {
        g {
            color: white;
        }
    }
}
