/*

Colour variables are stored here

*/

$white: #FFFFFF;
$paleblue: lightblue;
$pink: lighten(red, 20%);
$gold: goldenrod;
$grey-light: #F1F1F1;
$transparent: rgba(0,0,0,0);
$transparentBlack: rgba(0,0,0,0.8);
