/*

Colour variables are stored here

*/

$white: #FFFFFF;
$paleblue: lightblue;
$pink: lighten(red, 20%);
$gold: goldenrod;
$grey-light: #F1F1F1;
$transparent: rgba(0,0,0,0);
$transparentBlack: rgba(0,0,0,0.8);
$dark-border: lighten(#1c1c1c, 10%);
$dark-blue: hsl(214, 73%, 54%);
$light-blue: hsl(198, 82%, 58%);
