/*

Reserved for mixins

*/

// Full Screen Background Image
@mixin bgImage($image, $height: 100vh) {
    background: linear-gradient(to bottom, $transparent, $transparentBlack), url($image);
    background-repeat: no-repeat;
    background-postion: center center;
    background: url($image);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: $height;
}

// Flexbox configuration
@mixin flexbox($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
