/*

Reserved for mixins

*/

// Full Screen Background Image
@mixin bgImage($image, $height: 100vh) {
    background: url($image);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: $height;
}
