/*

Reserved for mixins

*/

// Full Screen Background Image
@mixin bgImage($image, $height: 100vh) {
    background: linear-gradient(to bottom, $transparent, $transparentBlack), url($image);
    background-repeat: no-repeat;
    background-postion: center center;
    background: url($image);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: $height;
}

// Flexbox configuration
@mixin flexbox($direction, $justify, $align, $wrap: no-wrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

// animated gradient on hover discovered at:
// https://medium.com/@dave_lunny/animating-css-gradients-using-only-css-d2fd7671e759#.r66iexcqm
@mixin gradient-animation($degree, $start-colour, $end-colour, $transitionTime: 300ms ease-out){
    background-size: 100%;
    position: relative;
    z-index: 100;

    &:before {
        border-radius: inherit;
        background-image: linear-gradient($degree, darken($start-colour, 10%) 0%, darken($end-colour, 10%) 100%);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        z-index: -100;
        transition: opacity $transitionTime;
    }

    &:hover {
        &:before {
            opacity: 1;
        }
    }
}

// button generator
@mixin btn($width, $height, $radius, $padding ){
    width: $width;
    height: $height;
    color: $white;
    border-radius: $radius;
    padding: .5em;
    border: none;
    font-size: .9em;
}


// offset positioning
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
